html {
    background: #98c1d9;
}

header {
    background-color: #98c1d9;
    color: #293241;
    list-style-position: inside;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #293241;
    border-top: 10px solid #293241;
    background: #e0fbfc;
}

h1 {
    font-size: 3em;
    margin: 0;
    color: #ee6c4d;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    line-height: 1.4em;
}

section:nth-of-type(1){ 
    display: flex;
}

article {
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) {
    border-right: 1px solid #ee6c4d;
}

article:nth-of-type(2) {
    border-left: 1px solid #ee6c4d;
}

table, th, td {
    border: 1px solid;
    border-color: #3d5a80;
    padding: 15px;
}

table {
    border-collapse: collapse;
}

th {
    background-color:#293241;
    color:#e0fbfc
}

td {
    text-align: center;
}

form {
    display: flex;
}

label {
    padding: 15px;
}

#blog {
    border-top: 1px dotted #3d5a80;
}

.blog-post {
    border-bottom: 1px solid #ee6c4d;
    padding: 15px;
}

a[href*="about"] {
  color: #ee6c4d;
}